<!-- your html code here -->
<div class="container-fluid mx-2 my-5">
    <div class="d-flex my-5 row justify-content-end">
        <div class="col-sm-12 col-md-8 col-lg-7">
            <div class="row px-5 d-flex justify-content-end">
                <div class="col-sm-12 col-md-8 col-lg-12 d-flex">
                    <h2>The first heading <span class="text-secondary">will catch your eye</span></h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorem molestias expedita.
                    Consequuntur, maiores? Doloremque illo labore nihil animi neque laborum quaerat quo ducimus vero
                    voluptatum officiis sed, harum itaque obcaecati voluptatibus earum ut maiores aspernatur nisi unde.
                    </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-4 px5">
            <img src="../website/assets/img/1.jpg" alt="walter.jpg"
                class="rounded-pill img-fluid h-75 object-fit-contain">

        </div>

    </div>
</div>