<!-- your html code here -->

<div class="container my-5">
     <hr/>
    <div class="d-flex row justify-content-end">
        <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="row d-flex">
                <div class="col-sm-12 col-md-8 col-lg-12 d-flex">
                    <h2>The first heading <span class="text-secondary">will catch your eye</span></h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorem molestias expedita.
                    Consequuntur, maiores? Doloremque illo labore nihil animi neque laborum quaerat quo ducimus vero
                    voluptatum officiis sed, harum itaque obcaecati voluptatibus earum ut maiores aspernatur nisi unde.
                    </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-4">
            <img src="../website/assets/img/1.jpg" alt="walter.jpg"
                class="rounded-circle img-fluid h-75">

        </div>

    </div>
    <hr/>
</div>
