<!-- your html code here -->
<div class="container-fluid bg-white py-5">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, consequuntur! Quia sapiente, dolore libero repellendus ab illum expedita alias dignissimos nam excepturi! Consequatur quae aspernatur explicabo cum nulla repellendus ducimus dolorum debitis blanditiis rerum vitae, id vel! Explicabo, dignissimos reprehenderit!</p>    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-sm-4">
            <div class="card">
                <img style="height: 100%; width: 100%; object-fit: contain" src="../../website/assets/img/big-project-image.png">            
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quaerat repellat ipsam tempora cupiditate alias totam deserunt culpa est, ipsa reprehenderit, facilis soluta corporis! Facere dolore nobis consequatur necessitatibus excepturi.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
            <div class="card">
                <img style="height: 100%; width: 100%; object-fit: contain" src="../../website/assets/img/big-project-image.png">            
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quaerat repellat ipsam tempora cupiditate alias totam deserunt culpa est, ipsa reprehenderit, facilis soluta corporis! Facere dolore nobis consequatur necessitatibus excepturi.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
            <div class="card">
                <img style="height: 100%; width: 100%; object-fit: contain" src="../../website/assets/img/big-project-image.png">            
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quaerat repellat ipsam tempora cupiditate alias totam deserunt culpa est, ipsa reprehenderit, facilis soluta corporis! Facere dolore nobis consequatur necessitatibus excepturi.</p>
            </div>
        </div>
    </div>    
</div>
